* {box-sizing: border-box;}
html,body,div,ul,li {
	margin: 0;
	padding: 0;
}
ul,li {list-style-type: none;}
.header {
	background-color: #333;
}
.header .main {
	width: 960px;
	height: 80px;
	margin: 0 auto;
}
.header .main img {
	vertical-align: middle;
	zoom: .7;
}
.header .main ul {
	float: right;
}
.header .main ul li {
	display: inline-block;
	padding: 5px 0 0 5px;
}
.header .main ul li a{
	color: #fff;
}
.banner {
	position: relative;
	height: 300px;
	background-color: #66bb33;
}
.banner ul {
	position: absolute;
	right: calc((100% - 960px)/2);
	bottom: 10px;
}
.banner ul li {
	display: inline-block;
	padding: 10px;
	border: 1px solid #335e1a;
	background-color: #b2dd99;
	color: #335e1a
}
.banner ul li:hover {
	cursor: pointer;
	background-color:#e0f1d6 
}
.banner ul li:nth-of-type(2) {
	border-color: #14250a;
	background-color: #e0f1d6;
	padding-top: 25px;
	color: #14250a;
}
main {
	padding-top: 20px;
}
main .nav {
	padding:0 calc((100% - 960px)/2) 0 calc((100% - 960px)/2);
	border-bottom: 1px solid #ddd;
}
main .nav ul {
	margin-bottom: -1px;
}
main .nav ul li {
	display: inline-block;
	padding: 30px;
	border: 1px solid #ccc;
	border-radius: 30% 30% 0 0 ;
	background-color: #eee
}
main .nav ul li:hover {
	cursor: pointer;
	background-color: #fff
}
main .nav ul li:first-child {
	border-bottom-color: #fff;
	background-color: #fff
}
main content {
	display: block;
	padding: 20px calc((100% - 960px)/2) 0 calc((100% - 960px)/2);
}
main content div .box {
	padding: 80px;
	border: 1px solid #ccc;
}
main content .container1 {
	margin-right: -2%;
	margin-bottom: 1%;
}
main content .container1 .box {
	float: left;
	width: 32%;
	margin-right: 1%;
}
main content .container1:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
main content .container2, main content .container3{
	display: flex;
	margin-right: -1%;
	margin-bottom: 1%;
}
main content .container2 .box, main content .container3 .box {
	flex: 1;
	margin-right: 1%;
}

.footer {
	text-align: center;
	height: 110px;
	background-color: #666;
	margin-top: 3%;
}
.footer span {
	display: inline-block;
	color: #fff;
	margin-top: 20px;
}