html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, ol, ul, li{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ul,ol,li { list-style:none;}
a {text-decoration: none;}
html,body {
	height: 100%;
	width: 100%;
	color: #fff;
	background: url(img/bg.jpg) no-repeat 100% fixed;
}
.user-info {
	z-index: 999;
	position: fixed;
	width: 30%;
/*	background: #999;
*/	top: 0;
	left: 0;
	bottom: 0;
	border-right: 2px solid #fff
}
.basic-info .avatar {
	width: 30%;
	margin: 0 auto;
	margin-top: 40px;
	padding-bottom: 30%;
	background-image: url(img/avatar.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}
.basic-info .avatar:hover {
	box-shadow: 0 0 30px #fff
}
.basic-info .nickname {
	margin-top: 25px;
	text-align:center;
	font-size: 25px;
	font-weight: bolder;
	/*color: #000;*/
}
.basic-info .nickname a {
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 20px #fff
}
.basic-info .nickname a:hover {
	color: #67671a;
	
}
nav {
	/*border-bottom: 1px solid #fff*/
}
nav ul li {
	padding-left: 40px;
}
nav ul li a:before {
	content: " ";
	display: inline-block;
	margin: 0 20px;
	height: 0;
	width: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #fff;
	visibility: hidden;
}
nav ul li:hover > a:before{
	visibility: visible;
}
nav ul li a:hover {
	font-weight: bolder;
}
.main-info, nav ul {
	width: 80%;
	margin: 0 auto;
	margin-top: 40px;
}
.main-info li, nav ul li {
	height: 25px;
	line-height: 25px;
	margin-bottom: 15px;
}
.main-info li a, nav ul li a{color: #fff}
.main-info li a:hover {
	color: #eee;
	font-weight: bolder;
	text-shadow: 0 0 10px #000;
}
.main-info li i {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 20px;
	vertical-align: text-bottom;
}
.main-info li.qq i {
	background-image: url(img/qq.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.main-info li.email i {
	background-image: url(img/email.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.main-info li.perweb i {
	background-image: url(img/github.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.main-cont {
	position: absolute;
	width: 70%;
	padding-bottom: 40px;
	top: 0;
	right: 0;
	/*bottom: 0;*/
}
.life,.edu-expre,.evaluation {
	margin: 40px 0 0 40px;
}
.life li,.edu-expre li,.evaluation li {
	list-style: disc;
	margin: 10px 0 0 40px;
	text-indent: 20px;
	font-size: 16px;
}
.life h1,.edu-expre h1,.evaluation h1 {
	font-size: 40px;
}