ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul:after {
	content: ' ';
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.info li,.cont li {
	display: inline-block;
	float: left;
	margin-right: 20px;
}
span {
	margin-right: 10px;
}
.info li span:first-child,.cont li span:first-child{
	font-weight: bold;
}